.veg-toggle .veg-on{
    border: solid green 3px;
    color: green;
    cursor: pointer;
    border-radius: 25px;
    height: 2.5rem;
    width: 10rem;
    margin-top: 1.5rem;
}
.veg-toggle .veg-off{
    color: red;
    
    border: solid red 3px;
    cursor: pointer;
    border-radius: 25px;
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
}